@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body {
  color: whitesmoke;
}

header {
  background-color: gray;
  background-image: url('./images/cover.jfif');
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}

.overlay {
  height: 100px;
  background-color: rgba(10, 10, 10, 0.3);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

h2 a {
  text-decoration: none;
  color: whitesmoke;
}

nav {
  text-transform: lowercase;
  color: whitesmoke;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 60px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

li a {
  padding: 5px;
  text-decoration: none;
  color: whitesmoke;
  transition: 0.2s;
}

h4 {
  color: #1f2524;
  font-size: 16px;
}

p {
  color: #546e6b;
  font-size: 12px;
}

.paragraph {
  height: 60px;
  margin: 10px 0;
}

.container,
.container-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  width: 80%;
  margin: 50px auto 0 auto;
}

.image {
  margin: 0 20px;
  position: relative;
  width: 300px;
  height: 600px;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.add-to-cart {
  position: absolute;
  width: 100%;
  background-color: #546e6b;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  bottom: 150px;
  text-decoration: none;
  color: whitesmoke;
}

.cart img {
  vertical-align: bottom;
}

.cart-count {
  font-weight: 700;
  font-size: 18px;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6 {
  bottom: 150px;
  opacity: 0.7;
  padding: 10px;
}

.footer {
  width: 100%;
  height: 80px;
  text-align: center;
}

.footer p {
  font-size: 12px;
  padding: 40px 0;
  text-transform: lowercase;
}

.footer a {
  text-decoration: none;
  color: #546e6b;
  transition: 0.2s;
}

.footer a:hover {
  color: #1f2524;
}

/* Cart page */
.container-products {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.container-products ion-icon {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: #1f2524;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #546e6b;
  margin: 0 auto;
  padding: 5px 0;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  display: flex;
  align-items: center;
  color: #1f2524;
}

.quantity {
  width: 30%;
  display: flex;
  align-items: center;
  color: #1f2524;
}

.total {
  width: 10%;
  display: flex;
  align-items: center;
  color: #1f2524;
}

.product {
  width: 30%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-around;
  color: #1f2524;
}

.delete {
  width: 15%;
  display: flex;
  align-items: flex-end;
  padding: 100px 0;
  justify-content: space-around;
}

.delete ion-icon {
  cursor: pointer;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img {
  width: 50%;
}

.basket-total-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #546e6b;
}

.basket-total-title {
  width: 30%;

}

.basket-total {
  width: 10%;
}

h5 {
  color: #1f2524;
  border: none;
}

@media (max-width: 500px) {

  header,
  .overlay {
    height: 130px;
  }
  
  nav h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  ul {
    margin: 0 auto;
  }

  .image {
    height: 540px;
  }

  .add-to-cart {
    opacity: 0.7;
    padding: 10px;
  }

  /* .sm-hide {
    display: none;
  } */

  .products,
  .product-header {
    justify-content: center;
    font-size: 12px;
  }

  .container-products ion-icon {
    font-size: 18px;
  }
  .basket-total-container {
    padding-right: 8%;
  } 
  .basket-total-title {
    font-size: 14px;
  }

  .delete {
    padding: 50px 0;
  }
}




